font-face {
  font-family: "southpark"; /*a name to be used later*/
  src: url("./south\ park\ 4.ttf");
}
body {
  margin: 0px;
}

body,
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ee3253;
}

.Header {
  font-family: South-Park;
  height: 15vh;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #00b8c4;
}

.image-wrapper {
  height: 10vh;
  width: 10vh;
}

img {
  height: 100%;
}

p {
  font-family: southpark;
  font-size: 20px;
  margin: auto;
  color: #ffe11d;
}

.gamebaord-wrapper {
  margin: 0px;
  padding: 30px;
  width: 100%;
  background: #ee3253;
}

.gameboard {
  position: relative;

  height: 100%;
  width: 100%;
  background: #ffeec3;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.scoreboard {
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
}

.flex-gap {
  width: 30px;
}
.scoreboard > * {
  font-size: 16px;
  font-family: southpark;
  margin: 10px;
  margin-top: 15px;
}

.card {
  width: 75px;
  border: rgb(146, 141, 141) solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
}

.card-wrapper {
  background-color: #b6a7e4;
  width: 100%;
  height: 75px;
  display: flex;
  padding: 10px;
}

.card-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card p {
  background: white;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 12px;
  color: black;
  margin: 0px;
  text-align: center;
}

@media screen and (min-width: 610px) {
  p {
    font-size: 40px;
  }
  .scoreboard > * {
    font-size: 20px;
    font-family: southpark;
    margin: 10px;
    margin-top: 15px;
  }
  .flex-gap {
    width: 0px;
  }

  .card {
    width: 150px;
    border: black solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px;
  }

  .card-wrapper {
    background-color: #b6a7e4;
    width: 100%;
    height: 150px;
    display: flex;
    padding: 10px;
  }

  .card-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .card p {
    background: white;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    color: black;
    margin: 0px;
    text-align: center;
  }
}

.card-name,
.card-image,
.card-wrapper {
  pointer-events: none;
}
