font-face {
  font-family: "southpark"; /*a name to be used later*/
  src: url("./south\ park\ 4.ttf");
}
body {
  margin: 0px;
}

body,
* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background: #ee3253;
}

.Header {
  font-family: South-Park;
  height: 15vh;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #00b8c4;
}

.image-wrapper {
  height: 10vh;
  width: 10vh;
}

img {
  height: 100%;
}

p {
  font-family: southpark;
  font-size: 20px;
  margin: auto;
  color: #ffe11d;
}

.gamebaord-wrapper {
  margin: 0px;
  padding: 0px;
  border: black solid 1px;
  height: calc(100% - 15vh);
  width: 100%;
  background: #ee3253;
}

.gameboard {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  width: 90%;
  margin: auto;
  background: #ffeec3;
}

.scoreboard {
  display: flex;
  justify-content: center;
  margin: auto;
  background: white;
}

.flex-gap {
  width: 30px;
}
.scoreboard > * {
  font-size: 16px;
  font-family: southpark;
  margin: 10px;
  margin-top: 15px;
}

@media screen and (min-width: 610px) {
  p {
    font-size: 40px;
  }
  .scoreboard > * {
    font-size: 20px;
    font-family: southpark;
    margin: 10px;
    margin-top: 15px;
  }
  .flex-gap {
    width: 0px;
  }
}
